.Project {
    width: 80%;    
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;    
}

.ImgSection {        
    /* height: 300px;     */
    /* width: 300px; */
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    display: inline-block;
    margin: 10px 2%;
    max-width: 29%;
    height: auto;
    width: auto\9; /* ie8 */
}

.ImgSection img {
    /* height: 100%; */
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.ImgSection img:hover,
.ImgSection img:active,
.ImgSection img.active {    
    border-bottom: 4px solid #40A4C8;
    color: darkgrey;
}

@media (min-width: 500px) {   
    .ImgSection img:hover,
    .ImgSection img:active,
    .ImgSection img.active {    
            border-bottom: 4px solid #40A4C8;
            color: darkgrey;
    }
}