.About {
    width: 80%;    
    display: absolute;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}