.FooterItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    flex-flow: row; 
    /* color: white; */
}

@media (min-width: 500px) {
    .FooterItems {
        flex-flow: row;     
    }
}