.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}

.Resume {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.Resume a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;    
    box-sizing: border-box;
    display: block;
}

.Resume a:hover,
.Resume a:active,
.Resume a.active {    
    color: #40A4C8;
}

@media (min-width: 500px) {
    .Resume {
        margin: 0;        
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .Resume a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .Resume a:hover,
    .Resume a:active,
    .Resume a.active {
        background-color: #976073;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }   
}